<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5" >
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Evenement</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
      </div>

      <div  class="row row-cols-1 row-cols-md-3 g-4 " >
        <div (click)="goToDetail(publication)"  *ngFor="let publication of listPublications" class="col" appPublicationCardBorderHeigth>
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. lo</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        
      </div>
    </section>
   <!-- app-card-publication afficher les publicar  -->
   
   
  </main>
