<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          
        </div>
      </div>
    </section>

   <div class="container">
    <h1>{{detailPublication?.titre}}</h1>
    <div class="card mb-3">
     <img src="" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
       <p class="card-text mt-1">{{detailPublication?.description}}</p>
       <p class="card-text mt-1lead text-muted">This is a wider card with supporting text
           below as a natural lead-in to additional content. 
           This content is a little bit longer. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. 
            Voluptates sunt inventore optio asperiores, deserunt nobis nesciunt aspernatur dolor officiis 
            ratione labore sequi rem earum eos qui vero harum? Quibusdam vitae quidem laudantium quo consequatur 
            debitis natus ab aperiam eos harum cupiditate repudiandae a quisquam quis nobis 
          commodi dolor, delectus expedita?
        </p>
          <p class="card-text mt-1lead text-muted">This is a wider card with supporting text
            below as a natural lead-in to additional content. 
            This content is a little bit longer. Lorem ipsum dolor sit,
             amet consectetur adipisicing elit. 
             Voluptates sunt inventore optio asperiores, deserunt nobis nesciunt aspernatur dolor officiis 
             ratione labore sequi rem earum eos qui vero harum? Quibusdam vitae quidem laudantium quo consequatur 
             debitis natus ab aperiam eos harum cupiditate repudiandae a quisquam quis nobis 
           commodi dolor, delectus expedita?
        </p>
        <p class="card-text mt-1lead text-muted">This is a wider card with supporting text
            below as a natural lead-in to additional content. 
            This content is a little bit longer. Lorem ipsum dolor sit,
             amet consectetur adipisicing elit. 
             Voluptates sunt inventore optio asperiores, deserunt nobis nesciunt aspernatur dolor officiis 
             ratione labore sequi rem earum eos qui vero harum? Quibusdam vitae quidem laudantium quo consequatur 
             debitis natus ab aperiam eos harum cupiditate repudiandae a quisquam quis nobis 
           commodi dolor, delectus expedita?
        </p>
        <p class="card-text mt-1lead text-muted">This is a wider card with supporting text
            below as a natural lead-in to additional content. 
            This content is a little bit longer. Lorem ipsum dolor sit,
             amet consectetur adipisicing elit. 
             Voluptates sunt inventore optio asperiores, deserunt nobis nesciunt aspernatur dolor officiis 
             ratione labore sequi rem earum eos qui vero harum? Quibusdam vitae quidem laudantium quo consequatur 
             debitis natus ab aperiam eos harum cupiditate repudiandae a quisquam quis nobis 
           commodi dolor, delectus expedita?
        </p>
          
       <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
     </div>
   </div>
   
   </div>
  
  </main>
