<header class="site-header sticky-top py-1 ">
    <nav class="container-fluid navbar navbar-expand-md  navbar-dark fixed-top bg-info bg-opacity-75  ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><span class="text-white">Uiecc-</span><span class="text-danger">event</span></a>
       
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active text-black" aria-current="page" routerLink="/publications">Information à la une</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black " href="#">Evenement avenir</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black " href="#">apropot</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
